body {
  background: url(https://i.imgur.com/nSoOn6U.jpg) center no-repeat;
  background-size: 100% 100%;
  font-size: 16px;
  font-family: Helvetica, Arial, Verdana, sans-serif !important;
}
/* DARK */
.dark body {
  background: url(https://i.ibb.co/V35c0Cx/OoP.png) center no-repeat;
  background-size: 100% 100%;
}
.dark .userlist {
  background: #333;
}
.dark .userlist.userlist-maximized {
 background: #333 !important
}
.dark .pmbox h3 {
  color: #fff !important;
  background: #333 !important;
}
.dark .pm-notifying {
  border-color: #a86;
  background: #e3c3a3;
}
.dark .pmbox h3.pm-minimized.pm-notifying {
  border-color: #a86;
  background: #e3c3a3;
}
.dark .mainmenu .menugroup {
  background: rgba(0, 0, 0, 0.4);
  border-color: #333;
}
.dark .rightmenu .menugroup {
  background: rgba(0, 0, 0, 0.4);
  border-color: #333;
}
.dark .mainmenu .mainmenu1 {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  border-color: #1A2627 !important;
}
.dark .mainmenu .mainmenu2 {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  border-color: #1A2627 !important;
}
.dark .mainmenu .mainmenu3 {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  border-color: #1A2627 !important;
}
.dark .mainmenu .mainmenu4 {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  border-color: #1A2627 !important;
}
.dark .mainmenu .mainmenu5 {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  border-color: #1A2627 !important;
}
.dark .rightmenu .mainmenu1 {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  border-color: #1A2627 !important;
}
.dark .mainmenufooter a {
 color: #3da5a6 !important
}
.dark .userbar button.icon.button {
  background: #555;
  box-shadow: none;
  color: #1A2627;
  text-shadow: 0px 1px 0 #f8f8f8, 0px -1px 0 #f8f8f8;
  border: 1px solid gray;
}
.dark .declare .declare-header {
 background: #437D7E !important
}
.dark .declare .declare-body {
 background: #555 !important;
  color: #fff !important;
}
.dark .profile-box {
  background: radial-gradient(white, gray) !important;
  color: #000;
}
.dark .ps-popup a, .credits h2, .credits ul {
  text-shadow: none !important;
  color: #53c9ca !important;
}
.dark .ps-popup a.illink.yours {
 color: #53c9ca !important
}
.dark .ps-popup a:hover {
 color: #3da5a6 !important
}
.dark .roomlist h2 {
 color: #a5dfe7 !important
}
.dark .roomlist a.ilink {
  background: #1A2627 !important;
}
.dark .ps-room.ps-room-light.scrollable {
  background: rgba(0,0,0,0.7) !important;
}
.dark .ps-room.ps-room-light.scrollable .button {
  background: linear-gradient(to bottom,#385052,#1A2627) !important;
  box-shadow: none;
}
.dark .ps-room.ps-room-opaque .battle-log .battle-history {
 font-size: 13.5px;
  color: #fff !important
}
.dark .ps-room.ps-room-opaque .battle-log .spacer.battle-history {
 font-size: 2px;
}
.dark .ps-room.ps-room-opaque .battle-log .inner {
 color: #fff !important
}
.dark .ps-room.ps-room-opaque .battle-log {
 background: rgba(0,0,0,.79) !important
}
.dark .movemenu .type-Dark {
 border-color: #fff !important;
}
/* DARK END */
.ps-room.ps-room-light.scrollable .button {
  background: linear-gradient(to bottom,#f1dfb3,#fbbb67);
  box-shadow: none;
}
.broadcast-blue {
  background: #9FC7CD;
  border: 1px solid #0B1361;
  color: #0B1361;
  text-shadow: 0px 0px 2px #87B2AA;
  text-align: center;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
}
.broadcast-blue a {
  color: #000F98;
}
.broadcast-blue button {
  background: #7C99A8;
  border: 1px solid #090F47;
  color: #F9FFFF;
  text-shadow: 0px 0px 2px #090F47;
  padding: 2px 8px;
}
.broadcast-blue button:hover {
  background: #76989F;
}
.broadcast-red {
  background: #FFEBEB;
  border: 1px solid #B52C2C;
  color: #B52C34;
  text-shadow: 0px 0px 2px #F2DBDB;
  text-align: center;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
}
.broadcast-red a {
  color: #B3001E;
}
.broadcast-green {
  background: #B5D896;
  border: 1px solid #20493B;
  color: #20493B;
  text-shadow: 0px 0px 2px #A4C786;
  text-align: center;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
}
.broadcast-green a {
  color: #005C3E;
}
.ps-room.ps-room-light.scrollable {
  background: rgba(242,247,250,.85) url(https://i.imgur.com/3YO0CYo.png) no-repeat bottom right;
}
textarea.textbox {
 font-family: Helvetica, Arial, Verdana, sans-serif
}
/* HEADER */
.header {
  background: rgba(255,255,255,.55) url(http://play.pokemonshowdown.com/pokemonshowdownbeta.png) no-repeat left;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
.maintabbarbottom {
  background: rgb(40,145,84);
  border: 1px solid #485449;
}
.tabbar li .button.cur {
  background: rgb(40,145,84);
  color: #fff;
  text-shadow: none;
  border: 1px solid #485449;
}
.tabbar li a.button {
  background: #3ba874;
  color: #fff;
  text-shadow: none;
  border: 1px solid #485449;
}
.tabbar li a.button.notifying {
  border-color: #a86;
  background: #e3c3a3;
}
.tabbar li a.button.subtle-notifying {
 color: #f1dfb3
}
.tabbar li .closebutton {
 color: #E1E1E1
}
.tabbar li .closebutton:hover {
 color: #c31c28
}
/* userbar */
.userbar .username {
 text-shadow: 1px 1px 0 #EEECE9, 1px -1px 0 #EEECE9, -1px 1px 0 #EEECE9, -1px -1px 0 #EEECE9
}
.userbar button.icon.button {
  background: rgb(40,145,84);
  box-shadow: none;
  color: #1A2627;
  text-shadow: 0px 1px 0 #f8f8f8, 0px -1px 0 #f8f8f8;
  border: 1px solid #485449;
}
/* HEADER END */
/* USERLIST */
.userlist {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background: rgba(242,247,250,.5);
}
.userlist li {
  height: 21px;
}
.userlist li button {
  height: 21px;
  font-size: 12px;
}
.userlist li button:hover {
 background: rgba(200, 200, 200, 0.3)
}
.userlist.userlist-maximized {
 background: #E8E8E8
}
/* USERLIST END */
/* POPUP */
.ps-popup {
  background: #C7CECD;
  border-color: #11484F;
}
.ps-popup a, .credits h2, .credits ul {
  color: #11484F;
  text-shadow: 0px 0px 2px #96BFB8;
}
.ps-popup a:hover {
  color: #173B40;
}
.ps-popup a.ilink.yours {
  color: #0B282C;
}
.ps-popup a.ilink.yours:hover {
  color: #04171A;
}
.ps-popup .buttonbar button {
  background: #17626E;
  border: 1px solid #11484F;
  padding: 2px 5px;
  color: #BBCCC9;
  text-shadow: 0px -1px 0px #11484F;
}
.ps-popup .buttonbar button:hover {
  background: #1B545C;
}
.popupmenu h3 {
  color: #11484F;
  text-shadow: 0px 0px 2px #96BFB8;
}
.popupmenu button.sel {
  border-color: #11484F;
}
.popupmenu button:hover, .popupmenu button.sel:hover {
  border-color: #11484F;
  background: rgba(255, 255, 255, 0.3);
}
a.subtle, a.subtle:hover {
  color: #000;
}
.avatarlist button {
  border-color: #11484F;
}
.avatarlist button:hover {
  border-color: #11484F;
  background-color: rgba(0, 0, 0, 0.3);
}
.effect-volume em, .music-volume em {
  color: #062529;
}
.ps-popup hr {
  border: none;
  border-bottom: 1px solid #062529;
}
/* POPUP END */
/* CHAT */
.chat-log .chat {
  font-size: 12.7px;
}
.chat span.message-announce {
  background: #1A2627;
  color: #fbbb67;
}
.chat.highlighted {
  background: rgba(255,200,80,.33);
}
/* CHAT END*/
/* ROOMLIST */
.roomlist {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
.roomcounters .icon-right {
 background: url(https://i.imgur.com/hwcKLAu.png) no-repeat !important
}
.roomcounters .icon-left {
 background: url(https://i.imgur.com/hwcKLAu.png) no-repeat !important
}
.roomlist a.ilink {
  padding: 10px;
  background: #f1dfb3;
  color: #1A2627;
  border: 1px dashed #1A2627;
  text-shadow: none;
}
.roomlist a.ilink:hover {
  background: #F0E6CE;
  color: #186769;
}
.roomlist a.ilink:active {
  background: #F0E6CE;
  color: #186769;
}
.roomlist a.ilink strong {
  font-size: 13px;
}
/* ROOMLIST END*/
/* MAINMENU */
.mainmenu {
  position: relative;
}
.mainmenu .menugroup {
  background: rgba(24, 95, 105, 0.4);
  border: 1px solid #485449;
}
.rightmenu .menugroup {
  background: rgba(24, 95, 105, 0.4);
  border: 1px solid #485449;
}
.mainmenu .menugroup .mainmenu1 {
  background: linear-gradient(to bottom,#ED7783,#B84450);
  border-color: #E35261;
}
.mainmenu .menugroup .mainmenu2 {
  background: linear-gradient(to bottom,#80C6C8,#186769);
  border-color: #186769;
}
.mainmenu .menugroup .mainmenu3 {
  background: linear-gradient(to bottom,#80C89F,#217745);
  border-color: #217745;
}
.mainmenu .menugroup .mainmenu4 {
  background: linear-gradient(to bottom,#f1dfb3,#DE9332);
  border-color: #DE9332;
}
.mainmenu .menugroup .mainmenu5 {
  background: linear-gradient(to bottom,#a5dfe7,#62BFC1);
  border-color: #62BFC1;
}
.rightmenu .mainmenu1 {
  background: linear-gradient(to bottom,#ED7783,#B84450);
  border-color: #E35261;
}
.rightmenu .mainmenu1:hover {
  background: linear-gradient(to bottom,#FC8C97,#DC5966);
  border-color: #DC5966;
}
.mainmenufooter a {
  color: #fbbb67;
}
/* MAINMENU END */
/* PM */
.pmbox h3.pm-minimized {
  background: #4D8A73;
  border-color: #1A2627;
  color: #1A2627;
}
.pmbox h3 {
  background: #4D8A73;
  color: #1A2627;
  border: 1px solid gray;
}
.pm-notifying {
  border-color: #a86;
  background: #e3c3a3;
}
.pmbox h3.pm-minimized.pm-notifying {
  border-color: #a86;
  background: #e3c3a3;
}
/* PM END */
/* BATTLES */
.dark .ps-room.ps-room-opaque {
  background: url(https://i.imgur.com/5NynCDD.jpg) !important;
  background-size: cover;
}
.dark .ps-room.ps-room-opaque .battle-controls {
  background: transparent !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dark .ps-room.ps-room-opaque .battle-log {
  background: rgba(0, 0, 0,.79) !important;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
.dark .ps-room.ps-room-opaque .battle-log .chat {
 font-size: 11px;
}
.dark .ps-room.ps-room-opaque .battle-log .battle-history {
 font-size: 13.5px;
}
.dark .ps-room.ps-room-opaque .battle-log .spacer.battle-history {
 font-size: 2px;
}
.dark .ps-room.ps-room-opaque .controls .whatdo {
 color: #fff
}
.dark .ps-room.ps-room-opaque .battle {
 border: 1px solid gray
}
.dark .movecontrols .moveselect button {
 color: #E35261
}
.dark .switchcontrols .switchselect button {
 color: #fbbb67
}
/* Movemenu button */
.dark .movemenu button {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 4px 4px 0px;
}
.dark .movemenu button:disabled, .movemenu button:disabled:hover {
  border: 2px solid #EEE;
  color: #EEE;
  background: #111 !important;
  height: 24px;
}
.dark .movemenu button.type-Electric {
  background: rgba(0, 0, 0, 0.7);
  border-color: #FFFB95;
  color: #FFFB95;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Electric:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #F9F348;
  color: #F9F348;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Grass {
  background: rgba(0, 0, 0, 0.7);
  border-color: #91F29B;
  color: #91F29B;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Grass:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #55F365;
  color: #55F365;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Dragon {
  background: rgba(0, 0, 0, 0.7);
  border-color: #A594D0;
  color: #A594D0;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Dragon:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #8E73CB;
  color: #8E73CB;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Water {
  background: rgba(0, 0, 0, 0.7);
  border-color: #86CDD0;
  color: #86CDD0;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Water:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #4DCACE;
  color: #4DCACE;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Normal {
  background: rgba(0, 0, 0, 0.7);
  border-color: #DBDBDB;
  color: #DBDBDB;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  border-top: none !important;
}
.dark .movemenu button.type-Normal:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #F5F5F5;
  color: #F5F5F5;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Ghost {
  background: rgba(0, 0, 0, 0.7);
  border-color: #C0ABDF;
  color: #C0ABDF;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Ghost:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #AE8BE4;
  color: #AE8BE4;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Steel {
  background: rgba(0, 0, 0, 0.7);
  border-color: #ACACAC;
  color: #ACACAC;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Steel:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #7A7A7A;
  color: #7A7A7A;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Fairy {
  background: rgba(0, 0, 0, 0.7);
  border-color: #FCB3F0;
  color: #FCB3F0;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Fairy:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #FA7FE6;
  color: #FA7FE6;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Dark {
  background: rgba(0, 0, 0, 0.7);
  border-color: #1D1919;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Dark:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #1D1919;
  color: #f8f8f8;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #fff;
}
.dark .movemenu button.type-Fire {
  background: rgba(0, 0, 0, 0.7);
  border-color: #FFD089;
  color: #FFD089;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Fire:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #FFBC55;
  color: #FFBC55;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Fighting {
  background: rgba(0, 0, 0, 0.7);
  border-color: #DFA39F;
  color: #DFA39F;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Fighting:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #DA7B74;
  color: #DA7B74;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Poison {
  background: rgba(0, 0, 0, 0.7);
  border-color: #DCB4DC;
  color: #DCB4DC;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Poison:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #D085D0;
  color: #D085D0;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Rock {
  background: rgba(0, 0, 0, 0.7);
  border-color: #DBCC90;
  color: #DBCC90;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Rock:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #C4B475;
  color: #C4B475;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Ground {
  background: rgba(0, 0, 0, 0.7);
  border-color: #DED2B0;
  color: #DED2B0;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Ground:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #E5CE8E;
  color: #E5CE8E;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Ice {
  background: rgba(0, 0, 0, 0.7);
  border-color: #A7E8E8;
  color: #A7E8E8;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Ice:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #79CDCD;
  color: #79CDCD;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Flying {
  background: rgba(0, 0, 0, 0.7);
  border-color: #BFB5DF;
  color: #BFB5DF;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Flying:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #A597D5;
  color: #A597D5;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Psychic {
  background: rgba(0, 0, 0, 0.7);
  border-color: #E9B8C7;
  color: #E9B8C7;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Psychic:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #E595AD;
  color: #E595AD;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Bug {
  background: rgba(0, 0, 0, 0.7);
  border-color: #E0E6A8;
  color: #E0E6A8;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Bug:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #B9C16B;
  color: #B9C16B;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movemenu button.type-Bug small {
  color: #E0E6A8;
}
.dark .movemenu button.type-Psychic small {
  color: #E9B8C7;
}
.dark .movemenu button.type-Flying small {
  color: #BFB5DF;
}
.dark .movemenu button.type-Ice small {
  color: #A7E8E8;
}
.dark .movemenu button.type-Ground small {
  color: #DED2B0;
}
.dark .movemenu button.type-Rock small {
  color: #DBCC90;
}
.dark .movemenu button.type-Poison small {
  color: #DCB4DC;
}
.dark .movemenu button.type-Fighting small {
  color: #DFA39F;
}
.dark .movemenu button.type-Fire small {
  color: #FFD089;
}
.dark .movemenu button.type-Dark small {
  color: #413E41;
}
.dark .movemenu button.type-Fairy small {
  color: #FCB3F0;
}
.dark .movemenu button.type-Steel small {
  color: #ACACAC;
}
.dark .movemenu button.type-Ghost small {
  color: #C0ABDF;
}
.dark .movemenu button.type-Grass small {
  color: #91F29B;
}
.dark .movemenu button.type-Normal small {
  color: #DBDBDB;
}
.dark .movemenu button.type-Electric small {
  color: #FFFB95;
}
.dark .movemenu button.type-Water small {
  color: #86CDD0;
}
.dark .movemenu button.type-Dragon small {
  color: #A594D0;
}
.dark .movemenu button:disabled {
  background: #201E1E;
  border-color: #171616;
  color: #DDD;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.dark .movecontrols label.megaevo {
  background: rgba(0,0,0,0.7);
  color: #fff;
  border: 1px solid gray;
}
/* Movemenu button ~end */
.dark .switchcontrols button.has-tooltip {
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-shadow: none;
}
.dark .switchcontrols button.disabled.has-tooltip {
  background: rgba(0,0,0,0.7) !important;
  padding: 7px;
  color: gray;
  text-shadow: none;
}
.dark .battle-controls button.button {
  background: linear-gradient(to bottom,#44519A,#242C5F);
  text-shadow: none;
  color: #000;
  border-color: #1A2627;
}
/* BATTLES END*/
/*main image */
.mainmenuwrapper {
  background: url(http://i.imgur.com/5wE1shI.png) no-repeat right !important;
}
/* ICONS START */
/* ICONS END */
.pm-window-pokmonhispanonews .chatbox {
  display: none;
}
.pm-window-pokmonhispanonews .chatbuttonbar {
  display: none;
}
/* Media Queries */
@media (max-width: 500px) {
  body {
      background: url(https://i.imgur.com/L4JoaTT.jpg) no-repeat;
      background-size: 100% 100%;
 }
 .ps-room.ps-room-light.scrollable {
      background: rgba(242,247,250,.85) no-repeat bottom right;
 }
}